form{
    display: flex;
    flex-direction: column;
 }
 form label {
    margin-bottom: 10px;
 }
 form input, form textarea {
    margin-bottom: 10px;
    padding: 60px;
    font-size: 20px;
}

form input [ type="submit"] {
    background-color: blueviolet;
    color: aqua;
    border: none;
    cursor: pointer;
}
